.Dropdown {
  .dropdown-header {
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;

    &.open {
      border-bottom: none;
    }

    .custom-down-icon {
      display: flex;
      align-items: center;
    }
  }

  .options {
    position: absolute;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    top: 100%;
    right: 0;
    width: 250px;
    background-color: #0463fd;
    // border: 1px solid #ccc;
    border-top: none;
    box-shadow: 2px 2px 5px rgb(255, 255, 255);

    .optiondiv {
      margin: 10px 0;
    }

    .option {
      all: unset;
      color: #fff;
      font-weight: 400;
      margin: 10px;
      cursor: pointer;
      transition: 0.3s;
      text-shadow: none;

      &:hover {
        color: aquamarine;
        transition: 0.3s;
      }
    }
  }
}