@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&family=Tilt+Neon&display=swap");
// .Hero {
//   height: 100vh;
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   background: linear-gradient(170deg, #000 40%, #006cff 80%);
//   .head {
//     color: white;
//     font-size: 5rem;
//     font-weight: bold;
//     letter-spacing: 1mm;
//   }
//   .tagline {
//     color: #fff8;
//     font-size: 2rem;
//   }
//   .button-div {
//     display: flex;
//     margin: 5rem;
//     gap: 1rem;
//   }
//   .button-outline {
//     margin-top: 1rem;
//     padding: 0.3rem;
//     border-radius: 40px;
//     background: linear-gradient(
//       92.39deg,
//       #0d4aa4 1.92%,
//       #95bfff 15.39%,
//       #004ab8 29.56%,
//       #67a4ff 87.27%,
//       #0042a5 97.86%
//     );
//     cursor: pointer;
//   }
//   .button {
//     text-decoration: none;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     display: flex;
//     color: white;
//     background-color: #004bbb;
//     padding: 0.5rem 2rem;
//     border-radius: 40px;
//     font-size: 2rem;
//     font-weight: 700;
//   }

//   @media (max-width: 800px) {
//     .head {
//       font-size: 3rem;
//     }
//     .tagline {
//       font-size: 1.5rem;
//     }
//     .button {
//       padding: 0.3rem 1rem;
//       border-radius: 20px;
//       font-size: 2rem;
//       font-weight: 700;
//     }
//   }
//   @media (max-width: 500px) {
//     height: 50vh;
//     .button-div {
//       margin: 2rem;
//     }
//     .head {
//       font-size: 2rem;
//     }
//     .tagline {
//       font-size: 1rem;
//     }
//     .button {
//       font-size: 1rem;
//     }
//   }
// }

.Home {
  .home {
    height: 100vh;
    display: grid;
    grid-template-columns: 45% 50%;
    place-items: center;
    gap: 50px;
    background: rgb(67, 69, 112);
    background: radial-gradient(
      circle,
      rgba(67, 69, 112, 1) 3%,
      rgba(35, 36, 57, 1) 60%
    );
    overflow: hidden;
    padding: 130px 80px;
  }

  .description {
    color: #fff;
    padding: 0 50px;
  }

  .description > h1 {
    font-family: "Tilt Neon", sans-serif;
    font-size: clamp(2.3rem, 5vw, 4rem);
    line-height: 1;
    margin-bottom: 30px;
  }

  .gradient-text {
    font-family: "Tilt Neon", sans-serif;
    background-image: linear-gradient(
      90deg,
      rgb(118, 167, 63) 0%,
      rgb(51, 143, 118) 40%,
      rgb(55, 141, 167) 50%,
      rgb(117, 152, 242) 70%,
      rgb(144, 118, 236) 100%
    );
    color: transparent;
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .description > p {
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  #form {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  input {
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    background-color: transparent;
    outline: transparent;
    border: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    margin-right: 10px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    @media screen {
    }
  }

  input::placeholder {
    color: rgb(117, 152, 242);
    opacity: 0.5;
    font-weight: 500;
  }

  input[type="email"] {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    font-size: 1rem;
  }

  input[type="email"]:focus {
    border: transparent;
    outline: 2px dotted rgb(117, 152, 242);
    outline-offset: -3px;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    max-width: max-content;
    background: linear-gradient(
      90deg,
      rgb(118, 167, 63) 0%,
      rgb(51, 143, 118) 40%,
      rgb(55, 141, 167) 50%,
      rgb(117, 152, 242) 70%,
      rgb(144, 118, 236) 100%
    );
    background-size: 200%;
    background-position: left;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    border: 0;
    padding: 12px 16px;
    border-radius: 5px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5),
      inset 0px 2px 2px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in;
  }

  .btn:is(:hover, :focus-visible) {
    background-position: right;
  }

  // .users-color-container {
  //   display: grid;
  //   grid-template-columns: repeat(4, 1fr);
  //   grid-template-rows: repeat(3, 1fr);
  //   gap: 20px;
  // }

  // .item {
  //   max-width: 200px;
  //   aspect-ratio: 1/1;
  //   box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5),
  //     inset 0px 2px 2px rgba(255, 255, 255, 0.2);
  //   animation: fadeIn 0.5s linear 1 forwards;
  //   animation-delay: calc(0.2s * var(--i));
  //   opacity: 0;
  // }
  .users-color-container {
    display: flex;
    align-items: center;
    justify-content: center;
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }

  .item {
    max-width: 200px;
    aspect-ratio: 1/1;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5),
      inset 0px 2px 2px rgba(255, 255, 255, 0.2);
    animation: fadeIn 0.5s linear 1 forwards;
    opacity: 0;

    // Add these lines to define --i values
    --i: 1;
    &:nth-child(2) {
      --i: 2;
    }
    &:nth-child(3) {
      --i: 3;
    }
    &:nth-child(4) {
      --i: 4;
    }
    &:nth-child(5) {
      --i: 5;
    }
    &:nth-child(6) {
      --i: 6;
    }
    &:nth-child(7) {
      --i: 7;
    }
    &:nth-child(8) {
      --i: 8;
    }
    &:nth-child(9) {
      --i: 9;
    }
    &:nth-child(10) {
      --i: 10;
    }
    &:nth-child(11) {
      --i: 11;
    }
    &:nth-child(12) {
      --i: 12;
    }
  }

  .item:nth-child(1) {
    background-color: #67d7e1;
    border-radius: 50% 50% 0 50%;
  }

  .item:nth-child(2) {
    border-radius: 50% 50% 0 0;
  }

  .item:nth-child(3) {
    background-color: #6cc164;
    border-radius: 50%;
  }

  .item:nth-child(4) {
    border-radius: 0 0 0 50%;
  }

  .item:nth-child(5) {
    border-radius: 0 50% 50% 0;
  }

  .item:nth-child(6) {
    background-color: #8071a8;
    border-radius: 0 50% 50% 50%;
  }

  .item:nth-child(7) {
    border-radius: 50% 50% 0 50%;
  }

  .item:nth-child(8) {
    background-color: #fe7519;
    border-radius: 50% 0 0 50%;
  }

  .item:nth-child(9) {
    background-color: #f5bec3;
    border-radius: 0 50% 50% 0;
  }

  .item:nth-child(10) {
    border-radius: 50%;
  }

  .item:nth-child(11) {
    background-color: #fcd659;
    border-radius: 50% 0 50% 50%;
  }

  .item:nth-child(12) {
    border-radius: 50% 0 0 0;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @media (max-width: 1215px) {
    .description > p {
      font-size: 1rem;
    }

    .btn {
      font-size: 1rem;
    }
  }

  @media (max-width: 1015px) {
    .home {
      grid-template-columns: 45% 50%;
      gap: 50px;
      padding: 140px 50px;
    }

    .description > p {
      font-size: 1rem;
    }

    .btn {
      padding: 8px 12px;
    }

    .btn-grad {
      padding: 8px 12px;
    }
  }

  @media (max-width: 865px) {
    .home {
      grid-template-columns: 45% 50%;
      gap: 60px;
      padding: 130px 70px;
    }
  }

  @media (max-width: 815px) {
    .home {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "userscolorcontainer"
        "description";
      gap: 30px;
      padding: 90px 80px 70px;
    }

    .users-color-container {
      grid-area: userscolorcontainer;
    }

    .description {
      grid-area: description;
      padding: 0;
      text-align: center;
    }

    .description > p {
      font-size: 1.1rem;
    }

    #form {
      justify-content: center;
    }
  }

  @media (max-width: 815px) {
    .description > p {
      font-size: 1rem;
    }
  }

  @media (max-width: 560px) {
    .home {
      gap: 0;
      padding: 30px 40px;
    }

    #form {
      flex-direction: column;
      align-items: center;
      gap: 30px;
      margin-top: 20px;
    }
    input {
      padding-inline-end: 0;
      padding-inline-start: 0;
      margin-right: 0;
    }
    input[type="email"]:focus {
      outline-offset: 6px;
    }
  }
}
