.Internship {
  display: block;
  flex-wrap: wrap;
  .headerdiv {
    margin: 2rem;
    .headtext {
      font-size: 2rem;
      color: black;
    }
  }
  .body {
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media (max-width: 775px) {
    .headerdiv, .body {
      margin-left: 5vw;
    }
  }
}
