@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: #fff;
    height: 120px;
    width: 100%;
}
.business {
    color: #009387;
    font-family: "Covered By Your Grace", cursive;
    font-weight: 400;
    font-style: normal;
}

.globalheader {
    width: 60%;
}
@media (max-height: 768px) {
    .header {
        height: 12vh;
    }
}
@media (max-width: 768px) {
    .header {
        height: 12vh;
    }
    .globalheader {
        width: 90%;
    }
}


