.Section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  overflow-x: hidden;
  margin-bottom: 2rem;
  .head {
    margin: 3rem 0;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: black;
    .number {
      color: #6100ff;
    }
    .business {
      color: #009387;
    }
  }
  @media (max-width: 1000px) {
    .head {
      font-size: 2rem;
    }
  }
  .services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;

    .service-div {
      border-top: 4px solid #222;
      color: #222;
      margin: 1rem;
      width: 30%;
      border-top: 5px solid black;
      @media (max-width: 1068px) {
        width: 44%;
      }
      @media (max-width: 600px) {
        width: 100%;
      }
    }
    .border-top-black {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      background-color: #fff;
      border-radius: 5px;
      cursor: pointer;
      .Card {
        all: unset;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // min-width: 400px;
        width: auto;
        text-align: justify;
        @media (max-width: 600px) {
          height: auto;
        }
        img {
          width: 100px;
          margin: 0.5rem;
        }
        p {
          color: #05003899;
          margin: 0.5rem;
          padding: 0.5rem;
        }
        h2 {
          color: #050038;
          margin: 0.5rem;
        }
        .explore-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 1rem;
        }
        .explore-btn a {
          gap: 0.5rem;
          padding: 0.5rem 1rem;
          text-align: center;
          display: flex;
          align-items: center;
          color: #fff;
          font-weight: bolder;
          border-radius: 4px;
          text-decoration: none;
          &:hover i {
            margin-left: 5px;
            transition: 0.18s all ease;
          }
        }

        transition: transform 0.5s;

        &:hover,
        &:focus {
          transform: scale3d(1.006, 1.006, 1);

          &::after {
            opacity: 1;
          }
        }
      }
      .border-top-yellow {
        border-top: 4px solid #fcaf4a;
        color: #fcaf4a;
      }
      .border-top-green {
        border-top: 4px solid #24ee92;
        color: #24ee92;
      }
      .border-top-blue {
        border-top: 4px solid #549ef2;
        color: #549ef2;
      }
      .black {
        background-color: #222;
      }
      .yellow {
        background-color: #fcaf4a;
      }
      .green {
        background-color: #24ee92;
      }
      .blue {
        background-color: #549ef2;
      }

      @media (max-width: 768px) {
        .card {
          width: 100%;
          margin: 25px 0;
          &:last-child {
            margin-bottom: 25px;
          }
        }
      }
    }
  }
  .link {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #4262ff;
    padding: 1rem 1.5rem;
    background: #4262ff;
    border-radius: 50px;
    font-size: 1.5rem;
    color: white;
    gap: 0.5rem;
  }
}
